# ===[ PACKAGE ]=== #

/build/
/dist/
/MANIFEST

# ===[ OTHER ]=== #

# IDE Projects
.idea
.nbproject
.project
nbproject
project
*.sublime-project

# Temps
*~
*.tmp
*.bak
*.swp
*.kate-swp
*.lock
*.DS_Store
Thumbs.db

# Utils
.sass-cache/
code_coverage
coverage
.coverage

# Generated
__pycache__
*.pyc
*.pyo
*.pot
*.mo
